@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
/* Navbar styling */
.navbar-brand {
  font-family: 'KoHo', sans-serif;
  font-size: 16.25rem;
}
.navbar-nav .nav-item .nav-link {
  letter-spacing: 0.0375rem;
  font-weight: 500;
  cursor: pointer;
  /* font-size: .9rem; */
}
nav ul li {
  text-transform: uppercase;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
