@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

body {
  font-family: 'Padauk', sans-serif;
}
/* Navbar styling */
nav {
  z-index: 30;
}
.navbar-brand {
  font-size: 1.3rem !important;
  font-family: 'Reggae One', cursive;
}
.navbar-nav .nav-item .nav-link {
  letter-spacing: 0.0375rem;
  font-weight: 500;
  cursor: pointer;
}
nav ul li .nav-link {
  text-transform: uppercase;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.125rem solid rgba(255, 255, 255, 0);
}
nav ul li .nav-link.active, nav ul li .nav-link.active:focus {
  border-top: 0.125rem solid #F46036;
}
nav ul li .nav-link:hover {
  border-top: 0.125rem solid #F46036;
}

/* Header */
.header-wrapper {
  position: relative;
  background: url('https://res.cloudinary.com/rokuirie/image/upload/v1621370073/Portfolio/quentin-schulz-sQ74rgQsPvI-unsplash_1_byrjtb_1_imt6km.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.main-info h1 {
  text-transform: uppercase;
  font-family: 'Newsreader', serif;
  color: #F46036;
  margin-top: 2rem;
  font-size: 2.5rem !important;
}
.main-info .typed-text {
  font-size: 1.25rem;
}
.main-btn {
  border: 2px solid #F46036;
  border-radius: 0;
  padding: 0.625rem 0.75rem;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
}
.main-btn:hover {
  background-color: #F46036;
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.about {
  height: 115vh;
  background-color: whitesmoke;
}
.about h1 {
  font-size: 2.5rem !important;
  margin-top: 1.875rem;
  color: #F46036;
  font-family: 'Newsreader', serif;
  text-transform: uppercase;
}
.row {
  margin-top: 10vh;
  background-color:  #2e2d2e;
  color: whitesmoke;
  font-size: 1.25rem;
}
.row img {
  width: 100%;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
  .typed-text {
    font-size: 1.3rem;
  }
  .main-info h1 {
    font-size: 1.8rem !important;
  }
  .row {
    margin-top: 5vh;
  }
  .about h1 {
    font-size: 1.8rem !important;
  }
  .padding {
    padding: 0.625rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .col-md-7 {
    margin-top: 0.625rem;
  }
}
@media (min-width: 992px) {
  .padding {
    padding: 3.75rem;
  }
  
}